$bg: #282828;
$fg: #ebdbb2;
$hover: #928374;
$title: #689d6a;
$social: #458588;
$name: #fbf1c1;
$shadow: #0f0f0f;
/* The color choice is inspired by my favorite Vim color scheme
  https://github.com/morhetz/gruvbox#palette */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: $bg;
  margin: 0;
  font: 16px/1 "Open Sans", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3 {
  font-size: inherit;
  margin-bottom: 1.45rem;
}
a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
/***** END INIT *****/

header {
  margin-bottom: 1.45rem;
  div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem;
    h1 {
      font-size: 28px;
      text-align: center;
      margin-bottom: 0;
      float: left;
      a {
        color: $title;
      }
      @media only screen and (max-width: 590px) {
        float: none;
        margin-bottom: 1.45rem;
      }
    }
  }
}

nav {
  ul {
    overflow: hidden;
    float: right;
    @media only screen and (max-width: 590px) {
      float: none;
    }
  }
  li {
    float: left;
    margin: 0;
    @media only screen and (max-width: 590px) {
      float: none;
      justify-content: center;
    }
  }
  li a {
    display: block;
    color: $fg;
    letter-spacing: 5px;
    font-size: 22px;
    text-align: center;
    padding: 8px 16px;
  }
  li a:hover {
    color: $hover;
  }
}

main {
  @media only screen and (max-width: 590px) {
    font-size: 18px;
    padding: 0 5%;
  }
  font-size: 22px;
  margin: 100px auto;
  max-width: 960px;
  padding: 100px 5%;
  min-height: 25vh;
  color: $fg;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
  }
  p + p {
    margin-top: 1rem;
  }
}

footer {
  margin-top: 1.45rem;
  text-align: center;
  div {
    color: $fg;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
  }
  p {
    margin-top: 2rem;
  }
  ul {
    display: flex;
    justify-content: center;
    li + li {
      margin-left: 20px;
    }
    a {
      padding: 10px;
      border-radius: 5px;
      background-color: $social;
    }
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3rem;
  }
}

#left-panel {
  height: 100%;
  width: 50%;
  float: left;
  @media only screen and (max-width: 590px) {
    float: none;
    width: 100%;
  }
  h2 {
    @media only screen and (max-width: 590px) {
      text-align: left;
      margin: 0;
    }
    font-size: 80px;
    font-weight: 400;
    text-shadow: 0 2px 8px $shadow;
    color: $name;
    line-height: 120%;
    text-align: right;
    margin-right: 10px;
  }
}

#right-panel {
  height: 100%;
  width: 50%;
  float: left;
  @media only screen and (max-width: 590px) {
    float: none;
    width: 100%;
  }
  h3 {
    @media only screen and (max-width: 590px) {
      text-align: right;
      font-size: 12px;
      margin: 0;
    }
    font-size: 14px;
    text-transform: uppercase;
    line-height: 130%;
    text-align: left;
    letter-spacing: 4px;
    margin: 70px 0 0 10px;
  }
}

// https://stackoverflow.com/questions/8160514/is-there-css-for-typesetting-the-latex-logo-in-html
.latex sub, .latex sup {
  text-transform: uppercase;
}
.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}
.latex, .latex sub {
  font-size: 1em;
}
.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

a {
  color: white;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  line-height: 1.7em;
}
