$bg: #282828;
$fg: #ebdbb2;
$hover: #a89984;
$title: #689d6a;
$social: #458588;
/* The colors are borrowed from my favorite Vim color scheme
  https://github.com/morhetz/gruvbox#palette */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background: $bg;
  margin: 0;
  font: 16px/1 sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3 {
  font-size: inherit;
  margin-bottom: 1.45rem;
}
a,
button {
  color: inherit;
  transition: .3s;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
/***** END INIT *****/

header {
  margin-bottom: 1.45rem;
  div {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem;
    h1 {
      text-align: center;
      margin-bottom: 0;
      float: left;
      a {
        color: $title;
      }
      @media only screen and (max-width: 480px) {
        float: none;
        margin-bottom: 1.45rem;
      }
    }
  }
}

nav {
  ul {
    overflow: hidden;
    float: right;
    @media only screen and (max-width: 480px) {
      float: none;
    }
  }
  li {
    float: left;
    margin: 0;
    @media only screen and (max-width: 480px) {
      float: none;
      justify-content: center;
    }
  }
  li a {
    display: block;
    color: $fg;
    letter-spacing: 5px;
    font-size: 28px;
    text-align: center;
    padding: 8px 16px;
  }
  li a:hover {
    color: $hover;
  }
}

footer {
  margin-top: 1.45rem;
  text-align: center;
  div {
    color: $fg;
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
  }
  p {
    margin-top: 4rem;
  }
  ul {
    display: flex;
    justify-content: center;
    li + li {
      margin-left: 20px;
    }
    a {
      padding: 10px;
      border-radius: 5px;
      background-color: $social;
    }
  }
  h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 3rem;
  }
}

main {
  margin: 50px auto;
  max-width: 960px;
  padding: 100px 5%;
  min-height: 25vh;
  color: $fg;
  h1 {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 40px;
  }
  p + p {
    margin-top: 1rem;
  }
}

a {
  color: white;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.62671rem;
}

h3 {
  font-size: 1.38316rem;
}

p {
  line-height: 1.7em;
}
